html
	head
		title Home
		link(rel='shortcut icon', href='../img/oldschoolcontroller2.ico', type='image/x-icon')
		link(rel="stylesheet" href="../css/style.css")
		link(rel="stylesheet" href="../css/class.css")
	body
		.overallWrap
			header
				nav
					a(href="/").companyTitle
						img(src="../img/gameboy.gif")
						h1 Gamegrades
						h3 Learning with videogames.
					ul
						li
							a(href="/logout") Logout
						li
							a(href="/class") Class
						li
							a(href="/profile") Profile
						li
							a(href="/resources") Resources

			.container
				main
					h1 Curriculum
					p In the following video you'll go through the following process:
					ul
						li.li First, you'll be presented with some scientific findings on the positive benefits of playing a videogame. 
						li.li Then you'll play the video game that the science is based on.
						li.li Finally, you'll be tested on the knowledge you received. 
					p Have fun!
					br
					a.button(href="/class/science") Go!
					br
					br

			footer
				h4 &copy; 2017 So Wow Inc. All Rights Reserved.