html
	head
		link(rel='shortcut icon', href='../img/oldschoolcontroller2.ico', type='image/x-icon')
		title YAY! Congrats!
		link(rel="stylesheet" href="../css/congrats.css")
		script(src="../js/jquery-3.2.1.min.js")
	body
		h1 YAY! You rule, #{user.username}!!!!
		a(href="/profile") Back to profile
		img.pumpgirl1(src="../img/pumpgirl.gif")
		img.cat2(src="../img/catdance2.gif")
		img.cat2_2(src="../img/catdance.gif")
		img.trumpcat(src="../img/trumpetcat.gif")
		img.pumpgirl2(src="../img/pumpgirl.gif")

		audio.audio(autoplay loop controls='')
			source(src='../audio/Feels Good.mp3', type='audio/mpeg')

		script.
			$('.audio').hide(0);

			function loopCat2() {
				$( ".cat2" ).animate({
					left: "20%"
				}, 5000);
				$( ".cat2" ).animate({
					left: "0"
				}, 5000);
				loopCat2();
			}

			loopCat2();

			