html
	head
		title YAY! Congrats!
		link(rel="stylesheet" href="../css/congrats.css")
		script(src="../js/jquery-3.2.1.min.js")
	body
		h1 YAY! You rule!!!!
		a(href="/profile") Back to profile
		img.pumpgirl1(src="../img/pumpgirl.gif")
		img.cat2(src="../img/catdance2.gif")
		img.cat2_2(src="../img/catdance2.gif")
		img.trumpcat(src="../img/trumpetcat.gif")
		img.pumpgirl2(src="../img/pumpgirl.gif")

		//- .carousel
		//- 	img(src="../img/")
		//- 	img(src="../img/")
		//- 	img(src="../img/")
		//- 	img(src="../img/")
		//- 	img(src="../img/")


		audio.audio(autoplay loop controls='')
			source(src='../audio/Feels Good.mp3', type='audio/mpeg')

		script.
			$('.audio').hide(0);

			$( ".cat2" ).animate({
				left: "+=40px"
			}, 3000);

			$( ".cat2" ).animate({
				left: "+-=40px"
			}, 3000);