html
	head
		title Home
		link(rel="stylesheet" href="../css/style.css")
	body
		header
			if user
				.companyTitle
					h1 Gamegrades
					h3 Learning with games.
				nav
					ul
						li
							a(href="#") Class
						li
							a(href="#") Profile
						li
							a(href="#") Games
			else
				.companyTitle
					h1 Gamegrades
					h3 Learning with games.
				nav
					ul
						li
							a(href="#") Home
						li
							a(href="#") Register
						li
							a(href="#") Login
						li
							a(href="#") About
		
		.container
			main
				



		footer
			h4 &copy; 2017 So Wow Inc. All Rights Reserved.