html
	head
		title #{user.username}'s profile
		link(rel='shortcut icon', href='../img/oldschoolcontroller2.ico', type='image/x-icon')
		link(rel="stylesheet" href="../css/style.css")
		link(rel="stylesheet" href="../css/profile.css")
	body
		.overallWrap
			header
				a(href="/").companyTitle
					h1 Gamegrades
					h3 Learning with videogames.
				nav
					ul
						li
							a#logout(href='/logout') Logout
						li
							a(href='/class') Class
						li
							a(href='/about') About
						li
							a(href='/resources') Resources
		
			main
				h1 My personal profile
				if picture
					.pic
					img#profilepic(src=picture)
				else
					h3 Upload your profile picture
					form#uploadPic(method="POST" action="/upload")
						input.file(type="file" name="picture" enctype="multipart/form-data" required)
						br
						input.upload(type="submit" name="submit" value="Upload Profile Pic!")
						br
						.pic
							img(src="../img/profile_pic/default.png")
		
			footer
				h4 &copy; 2017 So Wow Inc. All Rights Reserved.