html
	head
		title #{user.username}'s profile
		link(rel="stylesheet" href="../css/style.css")
		link(rel="stylesheet" href="../css/profile.css")
	body
		.overallWrap
			header
				a(href="/").companyTitle
					h1 Gamegrades
					h3 Learning with videogames.
				nav
					ul
						li
							a#logout(href='/logout') Logout
						li
							a(href='/class') Class
						li
							a(href='/about') About
						li
							a(href='/resources') Resources
		
			main
				h1 My personal profile

			footer
				h4 &copy; 2017 So Wow Inc. All Rights Reserved.