html
	head
		title #{user}'s profile
	body
		.overallWrap
			header
				a(href="/").companyTitle
					h1 Gamegrades
					h3 Learning with videogames.
				nav
					ul
						li
							a(href= "/") Home
						li
							a(href='/login') Login
						li
							a(href='/about') Abo
		
			main
				h1 My personal profile
