html
	head
		title Quiz Time!
		link(rel="stylesheet" href="../css/style.css")
		link(rel="stylesheet" href="../css/quiz.css")
		script(src="../js/quiz.js")
	body
		.overallWrap
			header
				nav
					a(href="/").companyTitle
						img(src="../img/gameboy.gif")
						h1 Gamegrades
						h3 Learning with videogames.
					ul
						li
							a(href="/logout") Logout
						li
							a(href="/class") Class
						li
							a(href="/resources") Resources
			
			main
				h1 Quiz Time!
				form(onsubmit="return submitAnswers()" name="quiz")
					h3 
			