html
	head
		title Register
		link(rel='shortcut icon', href='../img/oldschoolcontroller2.ico', type='image/x-icon')
		link(rel="stylesheet" href="../css/style.css")
		link(rel="stylesheet" href="../css/register.css")
	body
		.overallWrap
			header
				nav
					a(href="/").companyTitle
						img(src="../img/gameboy.gif")
						h1 Gamegrades
						h3 Learning with videogames.
					ul
						li
							a(href="/") Home
						li
							a(href="/register") Register
						li
							a(href="/login") Login
						li
							a(href="/about") About

			.container
				main
					h1 Register
					h2 Please use the following form to register for a new account:
					.form
						form(method="post" action="/register")
							label Username:
							br
							br
							input.input(type="text" class="form-control" placeholder="Your username..." name="username" required)
							br
							br
							label First name:
							br
							br
							input.input(type="text" class="form-control" placeholder="Your first name..." name="firstname" required)
							br
							br
							label Last name:
							br
							br
							input.input(type="text" class="form-control" placeholder="Your last name..." name="lastname" required)
							br
							br
							label Email:
							br
							br
							input.input(type="email" class="form-control" placeholder="Your email.." name="email" required)
							br
							br
							label Age:
							br
							br
							input.input(type="number" class="form-control" placeholder="Your age..." name="age" min="1" max="130" required)
							br
							br
							label Password:
							br
							br
							input.input(type="password" class="form-control" placeholder="Your password..." name="password" required)
							br
							br
							label Do you like games?    
							input.input(type="checkbox" name="checkbox" required)
							br
							br
							button.submit(type="submit" class="btn-default") Submit

			footer
				h4 &copy; 2017 So Wow Inc. All Rights Reserved.