html
	head
		title Home
		link(rel='shortcut icon', href='../img/oldschoolcontroller2.ico', type='image/x-icon')
		link(rel="stylesheet" href="../css/style.css")
		link(rel="stylesheet" href="../css/science.css")
		style.
			#map {
				width: 100%;
				height: 400px;
				background-color: grey;
			}
	body
		.overallWrap
			header
				nav
					a(href="/").companyTitle
						img(src="../img/gameboy.gif")
						h1 Gamegrades
						h3 Learning with videogames.
					ul
						li
							a(href="/logout") Logout
						li
							a(href="/class") Class
						li
							a(href="/profile") Profile
						li
							a(href="/resources") Resources

			.container
				main
					h1 Such science!
					img(src="../img/tetris.png")


		script(src="../js/scienceslider.js")
