html
	head
		title Class - Science
		link(rel='shortcut icon', href='../img/oldschoolcontroller2.ico', type='image/x-icon')
		link(rel="stylesheet" href="../css/style.css")
		link(rel="stylesheet" href="../css/science.css")
		style.
	body
		.overallWrap
			header
				nav
					a(href="/").companyTitle
						img(src="../img/gameboy.gif")
						h1 Gamegrades
						h3 Learning with videogames.
					ul
						li
							a(href="/logout") Logout
						li
							a(href="/profile") Profile
						li
							a.current(href="/class") Class
						li
							a(href="/resources") Resources

			.container
				main
					h1 Such science!
					iframe(width='560' height='315' src='https://www.youtube.com/embed/GHFXpzGRUjQ' frameborder='0' allowfullscreen='')
					img(src="../img/tetris.png")
					h1 In Summary
					p Tetris can help one process traumatic events. 
					ul 
						li An all-round fun experience for you and the whole family!
					br
					br
					a(href="/class/tetris") Onwards!
					br
					br

			footer
					h4 &copy; 2017 So Wow Inc. All Rights Reserved.