html
	head
		title Class - Science
		link(rel='shortcut icon', href='../img/oldschoolcontroller2.ico', type='image/x-icon')
		link(rel="stylesheet" href="../css/style.css")
		link(rel="stylesheet" href="../css/science.css")
		style.
	body
		.overallWrap
			header
				nav
					a(href="/").companyTitle
						img(src="../img/gameboy.gif")
						h1 Gamegrades
						h3 Learning with videogames.
					ul
						li
							a(href="/logout") Logout
						li
							a(href="/profile") Profile
						li
							a.current(href="/class") Class

			.container
				main
					h1 Such science!
					iframe(width='560' height='315' src='https://www.youtube.com/embed/GHFXpzGRUjQ' frameborder='0' allowfullscreen='')
					img(src="../img/tetris.png")
					h1 The Science
					p Tetris can help one process traumatic events. #[a.science(href="http://journals.plos.org/plosone/article/file?id=10.1371/journal.pone.0004153&type=printable") Researchers at Oxford University]tested a theory that playing the videogame Tetris as soon as possible after witnessing or experiencing a trauma could prevent flashbacks, one of the most painful and difficult-to-treat symptoms of PTSD.

					p How it works: Visual pattern-matching games like Tetris (and Candy Crush Saga, Bejeweled, etc) are so visually absorbing, they prevent your brain from concentrating on what you saw, and therefore block your brain from forming long-term visual memories of the trauma. You will still be able to recall all of the details of what happened, but you are less likely to suffer unwanted flashbacks.

					p ONLY visual pattern-matching games like Tetris are expected to help. Other types of games (such as racing games or first-person shooters) are not likely to help, and some games (such as trivia quizzes) may even increase flashbacks.

					p Also, this only works if the person plays Tetris within a timespan of 6 hours after experiencing the event. 

					p The researchers successfully tested their theory in a laboratory setting — #[a.science(href="http://journals.plos.org/plosone/article?id=10.1371/journal.pone.0013706") twice], and then again more recently in a follow-up study. Tetris DID prevent flashbacks after witnessing traumatic imagery. Tetris players also reported less trauma overall on a traumatic experience survey. But it’s much more difficult to test with real trauma in real-world situations. It’s unknown exactly how helpful this technique will be in different kinds of traumatic situations. However, the research to date suggests strong potential for significant benefit — and, in its favor, this technique is free, widely accessible, has no known side effects, and does not interfere with other forms of treatment or support.

					p Other benefits:
					ul 
						li Tetris can make you #[a.science(href="http://mentalfloss.com/article/63619/good-news-gamers-tetris-may-be-making-you-smarter") smarter].
						li Playing it makes you cool and retro.
						li It provides all-round fun experience for you and the whole family! Guaranteed. 
					br
					br
					a(href="/class/tetris") Onwards!
					br
					br

			footer
					h4 &copy; 2017 So Wow Inc. All Rights Reserved.