html
	head
		title Tetris
		style.
			h3 {
				margin-top: 50px;
				display: inline-block;
			}
			#score {
				padding: 0 10px;
				border: 1px solid black;
				border-radius: 10px;
				display: inline-block;
			}
			body {
				background: url('../img/pizzawormhole.gif') no-repeat;
				background-size: 100% 120%;
				color: black;
				font-family: Helvetica;
				font-size: 30px;
				text-align: center;
			}
			canvas {
				border: solid 2px #fff;
				height: 75%;
			}

	body
		h3 Your score is: 
			#score
		br
		canvas#tetris(width='240', height='400')
			script(src='../js/tetris.js')