body {
	background: url('../img/rainbow1.jpg');
}

a {
	position: absolute;
	top: 20px;
	left: 20px;
	text-decoration: none;
	color: white;
	border: 1px solid white;
	padding: 20px;
}

a:hover {
	background-color: white;
	color: black;
}

h1 {
	position: absolute;
	font-size: 50px;
	top: 280px;
	left: 510px;
}

.cat2 {
	position: absolute;
	-webkit-animation: 5s left right infinite;
	-o-animation: 5s left right infinite;
	animation: 5s left right infinite;
	top: 220px;
	left: 160px;
}

.cat2_2 {
	position: absolute;
	top: 220px;
	left: 1050;
}

.trumpcat {
	position: absolute;
	top: 440px;
	left: 1160px;
}

.pumpgirl1 {
	position: absolute;
	left: 560px;
	bottom: 20px;
}

.pumpgirl2 {
	position: absolute;
	left: 560px;
	top: -10px;
}