.science {
	border: none;
	padding: 0;
	color: #818484;
}

.science:hover {
	background-color: transparent;
	padding: 0;
	color: #acafaf;
}

.container h1 {
	margin: 0;
	padding: 0;
}

.container {
	border-radius: 10px;
	border-top: 1px solid darkgrey;
	border-bottom: 1px solid darkgrey;
	background-color: rgba(35, 130, 106, 0.2);
	padding: 30px;
	font-size: 20px;
}

img {
	margin: 0;
	padding: 0;
}

iframe {
	margin-top: 30px;
	border-top: 1px solid darkgrey;
	border-bottom: 1px solid darkgrey;
	border-radius: 10px;
	background-color: rgba(35, 130, 106, 0.2);
	padding: 80px 200px;
	width: 50%;
}