body {
	margin: 0;
	padding: 0;
	background: url('../img/blocks.png');
	background-size: 100% 100%;
	color: white;
	font-family: Helvetica;
}

.current {
	background-color: grey;
}

.overallWrap {
	padding: 20px;
}

nav {
	display: block;
	padding: 20px;
	margin: 0;
}

nav h1 {
	font-size: 40px;
}

nav li {
	list-style-type: none;
	display: inline-block;
	margin-left: 10px;
	float: right;
}

a {
	text-decoration: none;
	color: darkgrey;
	border: 1px solid darkgrey;
	padding: 10px;
}

nav li {
	text-decoration: none;
	color: white;
	border-left: 1px solid darkgrey;
	border-right: 1px solid darkgrey;
	padding: 10px;
}

nav li a {
	border: none;
}

a:hover {
	color: lightgrey;
	background-color: darkgrey;
	color: white;
}

.companyTitle {
	padding: 0;
	display: inline-block;
	border: none;
	background-color: transparent;
}

.companyTitle:hover {
	border: none;
	background-color: transparent;
}

.companyTitle h1 {
	margin: 0;
	padding-top: -30px;
	color: #13514c;
	font-size: 100px;
	display: inline-block;
}

.companyTitle h3 {
	padding: 0;
	margin: 0;
	margin-bottom: 10px;
	color: darkgrey;
	text-align: right;
}

.companyTitle img {
	display: inline-block;
	height: 110px;
	width: 110px;
}

.container {
	text-align: center;
	margin: 80px auto;
	padding: 10px;
	width: 80%;
}

footer {
	margin-bottom: 20px;
}

footer h4 {
	color: darkgrey;
	width: 30%;
	margin: 0 auto;
	border-top: 1px solid darkgrey;
	padding-top: 20px;
	text-align: center;
}