body {
	margin: 0;
	padding: 0;
	background: url('../img/greengradient.jpg');
	background-size: 100% 100%;
	color: white;
	font-family: Helvetica;
}

.overallWrap {
	padding: 20px;
}


/*.container img {
	text-align: center;
	display: inline-block;
	margin: 0 auto;
	width: 80%;
}*/

nav {
	text-align: right;
	margin-right: 20px;
	margin-top: -130px;
}

nav ul {
	background-color: limegreen;
	display: inline-block;
	width: 40%;
}

nav li {
	display: inline-block;
	margin-right: 40px;
}

a {
	text-decoration: none;
	color: darkgreen;
	border: 1px solid darkgreen;
	border-radius: 10px;
	padding: 10px;
}

a:hover {
	background-color: limegreen;
	color: white;
}

.companyTitle {
	display: inline-block;
	margin-left: 30px;
	border: none;
	background-color: transparent;
}

.companyTitle:hover {
	border: none;
	background-color: transparent;
}

.companyTitle h1 {
	color: lightgreen;
	font-size: 100px;
	margin: 10px 40px 0 0;
	display: inline-block;
}

.companyTitle h3 {
	color: white;
	text-align: right;
	margin-top: -15px;
	margin-bottom: 30px;
}

.container {
	text-align: center;
	margin: 80px auto;
	padding: 10px;
	width: 80%;
}

footer {
	margin-bottom: 20px;
}

footer h4 {
	color: lightgreen;
	width: 30%;
	margin: 0 auto;
	border-top: 1px solid black;
	padding-top: 20px;
	text-align: center;
}