h3 {
	margin-top: 50px;
	display: inline-block;
}

#score {
	padding: 0 10px;
	border: 1px solid black;
	border-radius: 10px;
	display: inline-block;
}

body {
	background: url('../img/pizzawormhole.gif') no-repeat;
	background-size: 100% 120%;
	color: black;
	font-family: Helvetica;
	font-size: 30px;
	text-align: center;
}

canvas {
	border: solid 2px #fff;
	height: 75%;
}

#proceed {
	position: absolute;
	top: 300px;
	right: 620px;
	border: 1px solid darkgrey;
	text-decoration: none;
	padding: 10px;
	color: white;
}

#proceed:hover {
	background-color: darkgrey;
	color: black;
}